{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}"/>

<h5 class="cont"><a href="{% url 'information' %}" class="text-body"><i class="continue-shopping"></i>Back</a></h5>

<form id="checkout-form">
  {% csrf_token %}
  <!-- Display the order summary, total, and other relevant details -->

  <button class="btn btn-primary" type="submit">Confirm Order</button>
</form>

<script src="{% static 'js/checkout.js' %}"></script>

{% endblock %}
