 {% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}"/>

<div class="card-body p-4">

<h5 class="cont"><a href="{% url 'cart-index' %}" class="text-body"><i
                     class="continue-shopping" ></i>Back</a></h5>




                <div class="col-lg-5">

                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body pay">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Information</h5>
                    </div>

                    <form id="myform" class="mt-4">
                      <div class="form-outline form-white mb-4">
                        <input type="text" class="form-control form-control-lg" id="typeName"
                          placeholder="candy@pizza.is" />
                        <label class="form-label" for="typeName">Email </label>
                      </div>

                      <div class="form-outline form-white mb-4">
                        <input type="text" class="form-control form-control-lg" siez="17" id="typeText"
                          placeholder="+354 1234 567" minlength="7" maxlength="20" />
                        <label class="form-label" for="typeText">phone number</label>
                      </div>

                        <div class="form-outline form-white mb-4">
                        <input type="text" class="form-control form-control-lg" siez="17" id="typeText1"
                          placeholder="Reykjavík" minlength="5" maxlength="30" />
                        <label class="form-label" for="typeText">City</label>
                      </div>

                        <div class="form-outline form-white mb-4">
                        <input type="text" class="form-control form-control-lg" siez="17" id="typeText2"
                          placeholder="101" minlength="3" maxlength="3" />
                        <label class="form-label" for="typeText">zip code</label>
                      </div>

                         <div class="form-outline form-white mb-4">
                        <input type="text" class="form-control form-control-lg" siez="17" id="typeText3"
                          placeholder="Gervigata 4" minlength="5" maxlength="50" />
                        <label class="form-label" for="typeText">Street name and number</label>
                      </div>

                    </form>



                      <button class=" btn btn-secondary mb-2">
    <h7> <a href="{% url 'checkout' %}">Confirm information and go to checkout</a></h7>
</button>
</div>
</div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/cart.js' %}"></script>

{% endblock %}




