{% extends "base.html" %}
{% load static %}
{% block content %}
      <link rel="stylesheet" href="{% static 'css/home.css' %}"/>

    <section class="py-5 bg-transparent">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4 justify-content-center">Welcome to candy pizza!</h2>
                <img class="homepageimage"  src="/static/images/logo.png" alt="Candy pizza"/>
                <h3 class="fw-bolder mb-4 justify-content-center">At Candy Pizza we offer various types of candy pizzas at a fantastic price!</h3>
                <h3 class="fw-bolder mb-4 justify-content-center">Check out our menu and see if you find what you're looking for!</h3>


                        </div>
                    </div>
                </section>






{% include 'footer.html' %}
{%endblock %}