{% extends "base.html" %}
{% load static %}
{% block content %}
      <link rel="stylesheet" href="{% static 'css/home.css' %}"/>

    <section class="py-5 bg-transparent">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4 justify-content-center">Popular Choices</h2>
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            {% for offer in offers.all %}
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img class="card-img-top" src="{{ offer.image.url }}" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ offer.name }}</h5>
                                            <h7 class="row">{{ offer.description }}</h7>
                                            <!-- Product price-->
                                            {{ offer.price }}kr
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'create_pizza' %}">View</a></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>






{% include 'footer.html' %}
{%endblock %}