h1 {
    text-align:center;
    color:#6D1A1A;
}

section .h-custom {
    position:fixed;
    left:50%;
    height: 100%;
    margin:auto;
}
div .card .mb-3 {
    background-color:#6D1A1A;
    color:white;
}
.btn.btn-info.btn-block.btn-lg{
    background-color: #FE8585;
    border-color:#6D1A1A;
}
.btn.btn-info.btn-block.btn-lg:hover{
    background-color: hotpink;
    border-color:#FE8585;
}

div .card{
    background-color: mintcream;
    margin-bottom: 2em;
}

div .pay{
    background-color: #6D1A1A;
}

.btn-secondary{
    background-color: #FE8585;
    display: flex;
    align-items: center;

}

.btn-secondary:hover{
    background-color: #6d1a1a;
    border-color:#FE8585;
}



   @media (min-width: 1025px) {
            .h-custom {
            height: 100vh !important;
            }
        }

.card-container {
  display: inline-flex;
    margin-bottom: 20px;
}

.card-1 {
  margin-right: 10px;
}

.card-2 {
  margin-left: 10px;
}

#popupCheckout{
    width: 200px;
}

.my-link a{
  color: white;
}

a {
  color: black;
}