h1 {
    margin-top: 2em;
    text-align:center;
    color:#6D1A1A;
}

section .h-custom {
    position:fixed;
    left:50%;
    height: 100%;
    margin:auto;
}
div .card .mb-3 {
    background-color:#6D1A1A;
    color:white;
}
.btn.btn-info.btn-block.btn-lg{
    background-color: #FE8585;
    border-color:#6D1A1A;
}
.btn.btn-info.btn-block.btn-lg:hover{
    background-color: hotpink;
    border-color:#FE8585;
}

div .card{
    background-color: mintcream;
    margin-bottom: 2em;
}

div .pay{
    background-color: #6D1A1A;
}