h1 {
    margin-top: 2em;
    text-align:center;
    color:white;
}

section .h-custom {
    position:fixed;
    left:50%;
    height: 100%;
    margin:auto;
}
div .card .mb-3 {
    background-color:#6D1A1A;
    color:white;
}
div .cont{

}

div .card{
    background-color: #E58591;
}

div .pay{
    background-color: #6D1A1A;
}