h1 {
    font-family: "Arial";
    text-align:center;

}
.form-horizontal{
    background-color: #FE8585;
    text-align: center;
    color: #7a1300;
    align-items: center;
    display: inline-grid;
    place-items: center;
    width: 100%;
    margin-bottom: 16em;
    font-weight: bold;
}
.reg a{
    color: blue;
}


.login {
    border-radius: 0.5em;
    background-color: #6D1A1A;
    border-color: #FE8585;
    margin: 1em 0 0;
}


.login:hover {
    background-color: #FE8585;
    border-color: #6D1A1A;
}
