
   .make-pizza-button {
       background-color: #6d1a1a;
       border-color:#FE8585;
   }

   .make-pizza-button:hover{
       background-color: #FE8585;
       border-color:#6d1a1a;
   }

   #search-form {
       display: flex;
justify-content: space-between;
align-items: center;
       margin-bottom: 30px;
}

.search-input {
  margin-right: 10px;
}


.make-pizza-button {
  margin-top: 10px;
    width: 200px;
}

.btn-secondary{
    background-color: #6d1a1a;
    display: flex;
    align-items: center;

}

.btn-secondary:hover{
    background-color: #FE8585;
    border-color:#6d1a1a;
}

.sorting{
    display: flex;
}
