.topbuttonsmenu{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: center;
    align-content: center;
    width: 50%;
    height:6em;
}

#sort-order{
    height: 2em;
    margin-top:2.7em;
}
#category-select{
    height: 2em;
    margin-top:2.7em;
}

.make-pizza-button{
    height: 6em;
    width: 12em;
    margin-top:2em;
    background-color: #6d1a1a;
    border-color:#FE8585;
}

.make-pizza-button:hover{
    background-color: #FE8585;
    border-color:#6d1a1a;
}

.btn-secondary{
    background-color: #6d1a1a;
    display: flex;
    align-items: center;

}

.btn-secondary:hover{
    background-color: #FE8585;
    border-color:#6d1a1a;
}

.card-img-top {
    width: 100%;
    height: auto;
}
