.navbar{
    background: #6D1A1A;
    height: 6em;
}

.brand{
    margin-top:2em;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.btn-primary {
    border-radius: 0.5em;
    margin-right: 2em;
    background-color: #FE8585;
    border-color:brown;
    width: 7em;
}
body{
    list-style: none;
    background-color: #FE8585;
}
.btn-primary:hover{
    background-color: brown;
    border-color: #FE8585;
}

.btn-primary:active{
    background-color: #7a1300;
}
