h1 {
    font-family: "Arial";
    text-align:center;
}
.form-horizontal{
    background-color: #FE8585;
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    font-size:1em;
    color: #7a1300;
    text-decoration: antiquewhite;
    align-items: center;
    display: inline-grid;
    place-items: center;
    width: 100%;
    margin-bottom: 8em;
}

.signup {
    border-radius: 0.5em;
    margin: 2em 0 0;
    background-color: #6D1A1A;
    border-color:brown;
}
.signup:hover{
    background-color: #FE8585;
    border-color: #6D1A1A;
}

.signup:active{
    background-color: #7a1300;
    border-color: #6D1A1A;
}