.card{
    width: 80%;
    height: 80em;
    margin-left:10%;
    display: inline-block;
    justify-content: center;
    border-radius: 2em;

}

.btn.btn-secondary:active{
    background-color: deeppink;
}

.btn.btn-secondary{
    background-color: #6D1A1A;
}



.navbar{
    margin-bottom: 5em;
}

.selected-pizza{
    text-align:center;
    color:#6D1A1A;
}

label{
    color: #6D1A1A;
    font-weight: bold;
    cursor: pointer;
}

h4{
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #6D1A1A;
}


#myImage {
width: 100px;
border: 1px solid #FE8585;
padding: 2px;
}

#myImage.checked {
background-color: #FE8585;
}
