{% extends "base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/toppings.css' %}"/>
    <div class="card">
        <div class="card-body p-4">
            <h3 class="selected-pizza">Create your own pizza</h3>
            

            <div class="d-inline-block justify-content-center">

            <form class="form form-horizontal" action="{% url 'create_pizza'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}


                {% for type, toppings in toppings_by_type.items %}
                <h4>{{ type }}</h4>
                {% for topping in toppings %}
                    <div class="topping d-inline-block mb-3 g-1">
                        <label class="myCheckbox">
                            <img src="{{ topping.image.url }}" class="checked" alt="{{ topping.name }}">
                            <input type="checkbox" class="myCheckbox" style="display: none;" name="toppings" value="{{ topping.id }}">
                            <div class="topping-details">
                                <span class="topping-name">{{ topping.name }}</span>
                                <span class="topping-price">{{ topping.price }}</span>
                            </div>
                        </label>
                    </div>
                {% endfor %}
                {% endfor %}


                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-primary me-md-2 " href="{% url 'cart-index' %}">Add to cart</a>
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'js/toppings.js' %}"></script>

{% endblock %}
