{% extends "base.html" %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}"/>

    <section class="py-5 bg-transparent">
        <div class="container px-4 px-lg-5 mt-5">
            <!-- search button and make my own pizza button-->
            <form id="search-form">
                <input type="text" placeholder="Search.." class="search-input" id="search-box">
                <button type="submit" class="search-button" id="search-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
                </form>
         </div>

                <div class="d-grid mb-2">
                    <a class="btn btn-primary p-3 make-pizza-button" href="{% url 'create_pizza'%}">Make My Own Pizza</a>
                </div>


    </section>

    <!-- Pizzas:-->
    <section class="py-5 bg-transparent">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Pizzas</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for pizza in pizza.all %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ pizza.image.url }}" alt="{{ pizza.name }}" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ pizza.name }}</h5>
                                <!-- Product price-->
                                {{ pizza.price }}kr
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url '' %}">View</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>





<script src="{% static 'js/menu.js' %}"></script>



    {% include 'footer.html' %}
{%endblock %}