{% extends "base.html" %}
{% block content %}
    <h1>{{pizza.name}}</h1>
    <p>{{pizza.description}}</p>
    <p>{{pizza.category}}</p>
    <p>{{pizza.ingredient}}</p>
    <p>{{pizza.size}}</p>
    <p>{{pizza.toppings}}</p>
    <p>${{pizza.price}}</p>
    {% for pizza_image in pizza.pizzaImage_set.all%}
            <img src="{{pizza_image.image}}" class="pizza-image"/>
    {% endfor %}
    <a href="{% url  'delete_pizza' pizza.id %}"class="block btn btn-primary">Delete pizza</a>
    <a href="{% url  'update_pizza' pizza.id %}"class="block btn btn-primary">Update pizza</a>



{% endblock %}