{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/toppings.css' %}"/>
    <div class="card">
    <div class="card-body p-4">
        <h3 class="selected-pizza">Name of selected pizza JS</h3>
        <form>
            <h4>Base</h4>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">

          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Small
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Medium
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> Large
          </label>
</div>

<h4>Sauce</h4>


<div class="toppings-container">
  <div class="topping">
    <label class="myCheckbox">
      <img src="/static/images/toppings/chocolate_sauce.jpg" class="checked" alt="chocolate sauce">
      <input type="checkbox" class="myCheckbox" style="display: none;">
    </label>
    <span>Chocolate sauce</span>
  </div>

  <div class="topping">
    <label class="myCheckbox">
      <img src="/static/images/toppings/nutella.jpeg" class="checked" alt="nutella">
      <input type="checkbox" class="myCheckbox" style="display: none;">
    </label>
    <span>Nutella</span>
  </div>



  <div class="topping">
    <label class="myCheckbox">
      <img src="/static/images/toppings/chocolate_sauce.jpg" class="checked" alt="chocolate sauce">
      <input type="checkbox" class="myCheckbox" style="display: none;">
    </label>
    <span>Chocolate sauce</span>
  </div>

  <div class="topping">
    <label class="myCheckbox">
      <img src="/static/images/toppings/nutella.jpeg" class="checked" alt="nutella">
      <input type="checkbox" class="myCheckbox" style="display: none;">
    </label>
    <span>Nutella</span>
  </div>
</div>


        </form>

    </div>
    </div>


<script src="{% static 'js/toppings.js' %}"></script>

{% endblock %}